.jumbotron1 {
  background-image: url("../images/jumbotron.jpg");
  background-size: 100% 120%;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  height: 400px;
}

.jumbotron2 {
  background-color: white;
}

.jumbotron4 {
  background-color: white;
}

.jumbotron5 {
  background-color: black;
  height: 200px;
  margin-bottom: 0;
}
